# Node modules
node_modules/

# Test result directories
test-results/
allure-report/
allure-results/
blob-report/
playwright-report/
playwright/.cache/
coverage/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Environment and config
.env
.env.*.local

# IDEs
.vscode/
.idea/

# Output & dist
dist/
build/

# JetBrains IDE config
*.iml
*.ipr
*.iws
out/

# Optional: ignore screenshots/videos
*.png
*.webm

# Playwright user data
user-data/
tmp/
